.header {
    background-color: yellowgreen;
    width: 1290px;
    height:110px;
    margin: 15px;
    padding: 10px;
    text-align: center; 
}

.container {
    width: 100%;
    height: 550px;
    margin: auto;
    background-color: rgb(121, 107, 201);
    

}

.section1 {
    background-color: aqua;
    width: 30%;
    height:80px;
    float: left;
    margin-left:20px;
    margin-right:20px;
    padding: 2px;
}
/*
.section2 {
    background-color: aqua;
    width: 20%;
    height:80px;
    float: left;
    margin: auto;
    padding: 1px;
}
.section3 {
    background-color: aqua;
    width: 20%;
    height:80px;
    padding: 2px;
    float: left;    
    margin: auto;
    padding: 1px;
} */ 